<MainLayout>
  <div class="grid place-items-center h-screen">
    <form novalidate (submit)="$event.preventDefault()">
      <div class="bg-gray-200 rounded-2xl p-4 flex flex-col gap-4 items-center">
        <div>Update project</div>
        <StatefulInput 
          type="text"
          label="Title"
          [formField]="projectForm.title"
        />
        <StatefulInput 
          type="text"
          label="Code"
          [formField]="projectForm.code"
        />
        <StatefulTextarea 
          label="Description"
          [formField]="projectForm.description"
        />
        <div class="flex gap-4 justify-between w-full">
          <a 
            class="underline"
            [routerLink]="['/projects']">
            To projects
          </a>
          <button 
            class="cursor-pointer underline"
            (click)="onUpdate()"
          >Update</button>
        </div>
     </div>
    </form>
  </div>
</MainLayout>