<div class="bg-gray-200 rounded-2xl p-4 flex flex-col gap-4 items-center">
  <div>{{ type() === 'create' ? 'Create' : 'Update' }} record</div>
  <Dropdown
    label="Task"
    [required]="true"
    [options]="taskOptions"
    [value]="task"
   />
  <InputComponent 
    type="number"
    label="Minutes"
    [(value)]="minutes"
  />
  <InputComponent 
    type="date"
    label="Date"
    [(value)]="date"
  />
  <TextareaComponent 
    label="Comment"
    [(value)]="comment"
  />
  <div class="flex gap-4 justify-between w-full">
    <a 
      class="underline"
      [routerLink]="['/timetable']">
      To main
    </a>
    <button 
      class="select-none cursor-pointer underline"
      (click)="submit.emit()"
    >{{ type() === 'create' ? 'Create' : 'Update' }}</button>
  </div>
</div>