<div class="flex justify-center">
  <div class="sm:px-16 max-w-[1920px] w-full">
    <div class="hidden sm:flex justify-between py-2 w-full place-items-end gap-4">
      <div class="flex gap-4 place-items-end">
        <a 
          class="text-2xl"
          [routerLink]="['/timetable']">
          Timesheets
        </a>
        <a 
          class="underline"
          [routerLink]="['/timetable']">
          Timetable
        </a>
        <a 
          class="underline"
          [routerLink]="['/projects']">
          Projects
        </a>
      </div>
      <div
        class="cursor-pointer underline select-none"
        (click)="signout()">
        Sign out
      </div>
    </div>
    
    <div class="flex sm:hidden flex-col gap-4">
      <div class="flex gap-4 w-full place-items-end justify-between">
        <a 
          class="text-2xl"
          [routerLink]="['/timetable']">
          Timesheets
        </a>
        <div
          class="cursor-pointer underline select-none"
          (click)="signout()">
          Sign out
        </div>
      </div>
      <div class="flex gap-4">
        <a 
          class="underline"
          [routerLink]="['/timetable']">
          Timetable
        </a>
        <a 
          class="underline"
          [routerLink]="['/projects']">
          Projects
        </a>
      </div>
    </div>
  </div>
</div>