<div class="bg-gray-200 rounded-2xl p-4 flex flex-col gap-4 items-center">
  <div>Sign up</div>
  <StatefulInput 
    type="email"
    label="Email"
    [formField]="form.email"
  />
  <StatefulInput 
    type="text"
    label="Fullname"
    [formField]="form.fullname"
  />
  <StatefulInput 
    label="Password"
    type="password" 
    [formField]="form.password"
  />
  <StatefulInput 
    label="Confirm password"
    type="password" 
    [formField]="form.confirmPassword"
  />

  <div class="flex justify-between w-full gap-8">
    <a 
      class="underline"
      [routerLink]="['/signin']">
      Sign in
  </a>

    <div 
      class="underline select-none cursor-pointer"
      (click)="signup()"
    >Sign up</div>
  </div>
</div>