<div class="flex justify-between">
  <div>
    <div class="p-2 text-2xl">{{ weekDaysPeriodString }}</div>
  </div>
  <div class="flex flex-row-reverse pb-4 gap-2">
    <div
      class="cursor-pointer p-2 underline select-none" 
      (click)="goToOldLayout()"
    >Go to old layout</div>
    <div
      class="cursor-pointer p-2 underline select-none" 
      (click)="goToCreate()"
    >Add a record</div>
    <div 
      class="cursor-pointer p-2 select-none underline"
      (click)="goToNextWeek()"  
    >Later</div>
    <div 
      class="cursor-pointer p-2 select-none underline"
      (click)="goToPreviousWeek()"  
    >Earlier</div>
  </div>
</div>
<div class="flex w-full h-[90]">
  @for (weekDay of weekDays(); track weekDay.index) {
  <div 
    class="p-2 border-gray-200 min-h-[90vh] min-w-[225px]"
    [class]="{
      'border-r-2': weekDay.index !== 6,
      'bg-blue-100': weekDay.isToday
    }"
  >
    <div class="flex justify-between gap-8">
      <div class="flex gap-4">
        <div>{{ weekDay.title }}</div>
        <div>{{ weekDay.date }}</div>
      </div>
    </div>

    <div class="flex-col gap-4 pt-4">
      @for(record of weekDay.records; track record.id) {
      <div 
        class="bg-gray-100 p-2 rounded-xl cursor-pointer"
        (click)="onEdit(record.id)"  
      >
        <div>minutes: {{ record.minutes }}</div>
        <div>{{ record.comment }}</div>
      </div>
      }
    </div>
  </div>  
  }
</div>


<div class="flex items-center justify-center z-50 fixed inset-0"
  [class]="modalOpen ? 'block' : 'hidden'"
  (click)="onView()"
>
  <div class="fixed inset-0 transition-opacity backdrop-blur-md"></div>
  <div 
    (click)="$event.stopPropagation()"
    class="bg-gray-200 rounded-2xl p-4 flex flex-col gap-4 items-center z-10 relative">
    <svg lucideX
      class="cursor-pointer absolute top-2 right-2" 
      [size]="32" 
      color="black" 
      [strokeWidth]="1" 
      title="Update"
      (click)="onView()"  
            ></svg>
    <div>Update record</div>
    <InputComponent 
      type="number"
      label="Minutes"
      [(value)]="minutes"
    />
    <TextareaComponent 
      label="Comment"
      [(value)]="comment"
    />
    <div class="flex gap-4">
      <button 
        class="bg-red-300 rounded-2xl p-2 uppercase cursor-pointer"
        (click)="onDelete()"
      >delete</button>
      <button 
        class="bg-green-300 rounded-2xl p-2 uppercase cursor-pointer"
        (click)="onSave()"
      >submit</button>
    </div>
  </div>
</div>