<div>
  <div class="hidden sm:flex  justify-between">
    <div>
      <div class="p-2 text-2xl">{{ weekDaysPeriodString }}</div>
    </div>
    <div class="flex flex-row-reverse pb-4 gap-4 items-end">
      <a 
        class="underline"
        [routerLink]="['/record-create']">
        Add a record
      </a>
      <div 
        class="cursor-pointer select-none underline"
        (click)="goToNextWeek()"  
      >Later</div>
      <div 
        class="cursor-pointer select-none underline"
        (click)="goToPreviousWeek()"  
      >Earlier</div>
    </div>
  </div>
  <div class="sm:hidden">
    <div>
      <div class="p-2 text-2xl">{{ weekDaysPeriodString }}</div>
    </div>
    <div class="flex flex-row-reverse pb-4 gap-2">
      <div
        class="cursor-pointer p-2 underline select-none" 
        (click)="goToCreate()"
      >Add a record</div>
      <div 
        class="cursor-pointer p-2 select-none underline"
        (click)="goToNextWeek()"  
      >Later</div>
      <div 
        class="cursor-pointer p-2 select-none underline"
        (click)="goToPreviousWeek()"  
      >Earlier</div>
    </div>
  </div>

  <div class="flex w-full overflow-x-auto">
    @for (weekDay of weekDays(); track weekDay.index) {
    <div 
      class="p-2 border-gray-200 min-h-[60vh] w-[225px] min-w-[225px]"
      [class]="{
        'border-r-2': weekDay.index !== 6,
        'bg-gray-100': weekDay.isToday
      }"
    >
      <div class="flex justify-between gap-8 mb-2">
        <div class="flex gap-4">
          <div>{{ weekDay.title }}</div>
          <div>{{ weekDay.date }}</div>
        </div>
        <div>{{ minutesToString(weekDay.totalMinutes) }}</div>
      </div>

      <div class="flex flex-col gap-2">
        @for(record of weekDay.records; track record.id) {
        <div 
          class="p-2 rounded-xl cursor-pointer border-gray-200 border-2 bg-white"
          (click)="onEdit(record.id)"  
        >
          <div>{{ record.task_title }}</div>
          <div>{{ minutesToString(record.minutes) }}</div>
          <div>{{ record.comment }}</div>
        </div>
        }
      </div>
    </div>  
    }
  </div>
</div>


<div class="flex items-center justify-center z-50 fixed inset-0"
  [class]="modalOpen ? 'block' : 'hidden'"
  (click)="closeModal()"
>
  <div class="fixed inset-0 transition-opacity backdrop-blur-md"></div>
  <div 
    (click)="$event.stopPropagation()"
    class="bg-gray-200 rounded-2xl p-4 flex flex-col gap-4 items-center z-10 relative w-[360px] sm:w-[400px]">
    <svg lucideX
      class="cursor-pointer absolute top-2 right-2" 
      [size]="32" 
      color="black" 
      [strokeWidth]="1" 
      title="Update"
      (click)="closeModal()"  
            ></svg>
    <div>Update record</div>
    <Dropdown
      label="Task"
      [required]="true"
      [options]="taskOptions()"
      [value]="selectedTask"
    />
    <TimeInputComponent 
      label="Spent time"
      [(value)]="minutes"
    />
    <TextareaComponent 
      label="Comment"
      [(value)]="comment"
    />
    <div class="flex gap-4 justify-between w-full">
      <div 
        class="underline cursor-pointer select-none"
        (click)="onDelete()"
      >Delete</div>
      <div 
        class="underline cursor-pointer select-none"
        (click)="onSave()"
      >Update</div>
    </div>
  </div>
</div>