<div class="flex w-full min-w-[1530px]">
  <div class="p-2 border-gray-200 border-r-2">
    <div class="flex justify-between gap-8">
      <div class="flex gap-4">
        <div>Monday</div>
        <div>31</div>
      </div>
      <div>0h of 8h</div>
    </div>
  </div>  
  <div class="p-2 border-gray-200 border-r-2">
    <div class="flex justify-between gap-8">
      <div class="flex gap-4">
        <div>Tuesday</div>
        <div>1</div>
      </div>
      <div>0h of 8h</div>
    </div>
  </div>  
  <div class="p-2 border-gray-200 border-r-2">
    <div class="flex justify-between gap-8">
      <div class="flex gap-4">
        <div>Wednesday</div>
        <div>2</div>
      </div>
      <div>0h of 8h</div>
    </div>
  </div>  
  <div class="p-2 border-gray-200 border-r-2">
    <div class="flex justify-between gap-8">
      <div class="flex gap-4">
        <div>Thursday</div>
        <div>3</div>
      </div>
      <div>0h of 8h</div>
    </div>
  </div>  
  <div class="p-2 border-gray-200 border-r-2">
    <div class="flex justify-between gap-8">
      <div class="flex gap-4">
        <div>Friday</div>
        <div>4</div>
      </div>
      <div>0h of 8h</div>
    </div>
  </div>  
  <div class="p-2 border-gray-200 border-r-2">
    <div class="flex justify-between gap-8">
      <div class="flex gap-4">
        <div>Saturday</div>
        <div>5</div>
      </div>
      <div>0h of 8h</div>
    </div>
  </div>  
  <div class="p-2">
    <div class="flex justify-between gap-8">
      <div class="flex gap-4">
        <div>Sunday</div>
        <div>6</div>
      </div>
      <div>0h of 8h</div>
    </div>
  </div>  
</div>