<div class="bg-gray-200 rounded-2xl p-4 flex flex-col gap-4 items-center">
  <div>Sign in</div>
  <InputComponent 
    type="email"
    label="Email"
    [(value)]="email"
  />
  <InputComponent 
    label="Password"
    type="password" 
    [(value)]="password"
  />
  <div class="flex justify-between w-full gap-8">
    <a 
      class="underline"
      [routerLink]="['/signup']">
      Sign up
  </a>

    <div 
      class="underline select-none cursor-pointer"
      (click)="login()"
    >Submit</div>
  </div>
</div>