<div class="bg-gray-200 rounded-2xl p-4 flex flex-col gap-4 items-center">
  <div>Sign in</div>
  <StatefulInput 
    type="email"
    label="Email"
    [formField]="form.email"
  />
  <StatefulInput 
    label="Password"
    type="password" 
    [formField]="form.password"
  />
  <div class="flex justify-between w-full gap-8">
    <a 
      class="underline"
      [routerLink]="['/signup']">
      Sign up
  </a>

    <div 
      class="underline select-none cursor-pointer"
      (click)="login()"
    >Sign in</div>
  </div>
</div>