<MainLayout>
  <div class="grid place-items-center h-screen">
    <form novalidate (submit)="$event.preventDefault()">
      <div class="bg-gray-200 rounded-2xl p-4 flex flex-col gap-4 items-center">
        <div>Create task</div>
        <StatefulInput 
          type="text"
          label="Title"
          [formField]="taskForm.title"
        />
        <StatefulInput 
          type="text"
          label="Code"
          [formField]="taskForm.code"
        />
        <StatefulTextarea 
          label="Description"
          [formField]="taskForm.description"
        />
        <div class="flex gap-4 justify-between w-full">
          <a 
            class="underline"
            [routerLink]="['/project/' + id]">
            To project
          </a>
          <button 
            class="cursor-pointer underline"
            (click)="onCreate()"
          >Create</button>
        </div>
     </div>
    </form>
  </div>
</MainLayout>
