<div class="flex flex-col relative w-full">
  <label
    class="pl-2" 
    [for]="id">{{ label() || '' }}</label>
  <div class="relative w-full">
    <div 
      contenteditable="true" 
      class="bg-white rounded-2xl px-2 mb-1 w-full h-6 min-w-[247px]"
      (input)="onInput($event)"
      (focusin)="onFocus()"
      (blur)="onBlur()"
      [innerHTML]="innerHTML()"
      (keydown.enter)="$event.preventDefault()"
    ></div>
    @if(required() && !value()) {
      <div class="text-red-400 px-2">This field is required</div>
    }

    <div class="absolute z-10 flex-col bg-white rounded top-6 left-0 w-full"
      [class]="{
        'hidden': !listVisible,
        'flex': listVisible 
      }"
    >
      @for(option of visibleOptions; track option.id) {
        <div 
        class="hover:bg-gray-100 px-2 cursor-pointer"
        (mousedown)="onSelect(option.id)">{{ option.title }}</div>
      }
    </div>
  </div>
</div>