@if(columns().length) {
<div class="w-full overflow-auto">
  <table class="w-full min-w-[600px] py-2">
    <thead>
      <tr>
        @for (col of columns(); track $index) {
          <th scope="col">{{ col.label || ''}}</th>
        }
        @if(deleteButton() || updateButton()) {
          <th scope="col">Actions</th>
        }
      </tr>
    </thead>
    @if (rows().length) {
    <tbody>
      @for(row of rows(); track $index; let rowIndex = $index) {
      <tr>
        @for (col of columns(); track col.attribute) {
        <td>
          @if (col.attribute === openObjectPageColumnAttribute()) {
            <div 
              class="underline cursor-pointer"
              (click)="onOpen(rowIndex)"
              >
              {{ row[col.attribute] || '' }}
            </div>
          } @else {
          {{ row[col.attribute] || '' }}
          }
        </td>
        }
        @if (updateButton() || deleteButton()) {
        <td>
          <div class="flex gap-4 w-full justify-center">
            @if (updateButton()) {
              <div class="select-none cursor-pointer underline"
                (click)="onUpdate(rowIndex)"  
              >Update</div>
            }
            @if (deleteButton()) {
              <div class="select-none cursor-pointer underline"
                (click)="onDelete(rowIndex)"  
              >Delete</div>
            }       
          </div>
        </td>
        }
      </tr>
      }
    </tbody>
    } @else {
    <tbody>
      <tr>
        <td [colSpan]="colspan()">No data</td>
      </tr>
    </tbody>
    }
  </table>
</div>
}